@import "style.css";

.top-bar {
    background-color: var(--main-color);
    width: var(--full-width);
    height: auto;
}

.btn-currency {
    padding: 5px;
    box-shadow: 0 0 0 rgba(0,0,0,0);
}
.user-image {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.user-image-large {
    width: 96px;
    height: 96px;
    border-radius: 48px;
}

.no-user-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-outline {
    outline: none;
}

.uname-p-tb {
    padding-top: var(--padding-bar) !important;
    padding-bottom: var(--padding-bar) !important;
    color: #fff !important;
    cursor: pointer;
    outline: none;
}

.btn-util {
    padding: 0.14rem !important;
    border-radius: 22px;
}

.uname-p-tb:hover .btn-util {
    background-color: #8AA0C3;
}

.dropdown-menu {
    overflow: hidden;
}

.dropdown-bottom-line {
    width: 100%;
    height: auto;
    background-color: #cfd8dc;
}