:root {
    --main-color: #1C2331;
    --main-padding: 20px;
    --no-width: 0px;
    --default-font: Roboto, sans-serif;
    --full-width: 100%;
    --padding-bar: 0.7rem !important;
}

html, body {
    margin: var(--no-width);
    padding: var(--no-width);
}

h1, h2, h3, h4, h5, h6, p, span, div {
    font-family: var(--default-font);
}

.no-glow:focus {
    box-shadow: 0 0 0 0;
}

.full-width {
    width: var(--full-width);
}

.pl-4_5 {
    padding-left: 2.5rem; !important;
}

.pt-6 {
    padding-top: 4rem !important;
}

.btn {
    font-family: Verdana, Arial, sans-serif;
}

.btn-sm {
    font-size: 0.8rem !important;
}

html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("../../assets/img/landing.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    background-color: var(--main-color);
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background-color: var(--main-color);
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background-color: var(--main-color);
    }
}
