<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shri nk-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_headerName" th:content="${_csrf.headerName}">
    <!-- Title -->
    <!--/*@thymesVar id="title" type="java.lang.String"*/-->
    <title th:text="${title}"></title>
    <!-- <link rel="icon" type="image/x-icon" href="assets/img/favicon.png"> -->
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="../assets/css/all.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../assets/css/mdb.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/flags.css">
    <!-- Custom styles (optional) -->
    <link rel="stylesheet" type="text/css" href="../assets/css/home.css">
</head>
<body>
<div class="container" style="padding-top: 5rem !important;">
    <div class="row justify-content-center">
        <div class="col-8 p-0 card register">
            <div class="position-absolute full-width full-height overlay1 d-none">
                <div class="progress-horizontal">
                    <div class="bar-horizontal"></div>
                </div>
            </div>
            <div class="card-body pt-5 pl-5 pr-5">
                <div>
                    <!--/*@thymesVar id="app" type="java.lang.String"*/-->
                    <h3 th:text="${app}"></h3>
                    <h4><span class="text-muted" th:text="'Create your' + ${appName} + ' account'"></span></h4>
                </div>
                <div class="row" id="personal-register"> <!-- Personal register UI -->
                    <div class="col-7">
                        <form name="register" autocomplete="off">
                            <div class="row">
                                <div class="col-6">
                                    <div class="md-form">
                                        <input type="text" id="fname" class="form-control text-capitalize"
                                               maxlength="20">
                                        <label for="fname">First name</label>
                                    </div>
                                    <span class="additional-message error"></span>
                                </div>
                                <div class="col-6">
                                    <div class="md-form">
                                        <input type="text" id="lname" class="form-control text-capitalize"
                                               maxlength="20">
                                        <label for="lname">Last name</label>
                                    </div>
                                    <span class="additional-message error"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="md-form">
                                        <input type="text" id="email" class="form-control domain-field" maxlength="50">
                                        <label for="email">Username</label>
                                        <span class="postfix text-muted">@traviard.com</span>
                                    </div>
                                    <span class="additional-message">Letters, numbers, periods, hypens and underscores only</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="md-form">
                                        <input type="text" id="alt-email" class="form-control" maxlength="60">
                                        <label for="alt-email">Alternative email</label>
                                    </div>
                                    <span class="additional-message">Valid email 'john@example.com'</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="md-form">
                                        <input type="password" id="passwd" class="form-control pwd-input"
                                               autocomplete="off">
                                        <label for="passwd">Password</label>
                                        <i class="far fa-eye-slash postfix text-muted" onclick="pwd(this);"></i>
                                    </div>
                                    <span class="additional-message">Minimum 6 characters</span>
                                </div>
                                <div class="col-6">
                                    <div class="md-form">
                                        <input type="password" id="conf-passwd" class="form-control pwd-input"
                                               autocomplete="off">
                                        <label for="conf-passwd">Confirm password</label>
                                        <i class="far fa-eye-slash postfix text-muted" onclick="pwd(this);"></i>
                                    </div>
                                    <span class="additional-message error"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 pr-0">
                                    <div class="dropdown">
                                        <div class="md-form">
                                            <!--/*@thymesVar id="client_country" type="java.lang.String"*/-->
                                            <input type="text" id="country-code" th:attr="data-id=${client_country}"
                                                   class="form-control no-user-select no-outline" value="+1"
                                                   tabIndex="-1" readonly>
                                            <i class="flag flag-us prefix flag-selected"></i>
                                            <label for="country-code" class="bg-transparent">Country</label>
                                            <i class="fas fa-angle-down postfix text-muted pr-1"></i>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-country">
                                            <!--/*@thymesVar id="countries" type="java.util.List<com.traviard.cloud.security.entity.Country>"*/-->
                                            <!--/*@thymesVar id="id" type="java.lang.String"*/-->
                                            <div class="dropdown-item edge-curved" th:each="c: ${countries}"
                                                 th:id="${c.id}">
                                                <!--/*@thymesVar id="isoCode" type="java.lang.String"*/-->
                                                <div th:id="${c.isoCode}"
                                                     th:class="'flag position-absolute flag-' + ${c.isoCode}"></div>
                                                <!--/*@thymesVar id="name" type="java.lang.String"*/-->
                                                <span class="country" th:text="${c.name}"></span>
                                                <!--/*@thymesVar id="countryCode" type="java.lang.String"*/-->
                                                <!--/*@thymesVar id="countryCode" type="java.lang.String"*/-->
                                                <span class="code" th:text="${c.countryCode}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="md-form">
                                        <input type="text" id="mobile-number" class="form-control" maxlength="15">
                                        <label for="mobile-number">Phone number</label>
                                    </div>
                                    <span class="additional-message optional">Optional - Neither country code nor leading 0 required</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-3 pr-0">
                                            <div class="md-form">
                                                <input type="text" id="day" class="form-control" maxlength="2">
                                                <label for="day">Day</label>
                                            </div>
                                        </div>
                                        <div class="col-5 pr-0">
                                            <div class="dropdown">
                                                <div class="md-form">
                                                    <input type="text" id="month" class="form-control text-capitalize"
                                                           maxlength="9">
                                                    <label for="month">Month</label>
                                                </div>
                                                <div class="dropdown-menu dropdown-menu-month"></div>
                                            </div>
                                        </div>
                                        <div class="col-4 pr-0">
                                            <div class="md-form">
                                                <input type="text" id="year" class="form-control" maxlength="4">
                                                <label for="year">Year</label>
                                            </div>
                                        </div>
                                        <span class="ml-3 mt-1 additional-message error bday-msg invisible">
                                            Are you sure is this your birth day?
                                        </span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="dropdown">
                                        <div class="md-form">
                                            <input type="text" id="gender"
                                                   class="form-control no-outline no-user-select"
                                                   value="" readonly>
                                            <label for="gender">Gender</label>
                                            <i class="fas fa-angle-down postfix text-muted pr-1"></i>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-gender">
                                            <div class="dropdown-item">Male</div>
                                            <div class="dropdown-item">Female</div>
                                        </div>
                                        <span class="additional-message optional">Optional</span>
                                    </div>
                                </div>
                            </div>
                            <button id="btn-register" type="button"
                                    class="btn btn-primary btn-md waves-effect waves-light text-uppercase mt-4 float-right mr-0 mb-3"
                                    onclick="isValidPersonalRegister()">
                                Next
                            </button>
                        </form>
                    </div>
                    <div class="col-5 p-4">
                        <img src="../assets/img/account.svg" alt="account-img">
                        <p class="text-muted text-sm-center" style="line-height: 1.5rem;">
                            One account for all the Traviard services
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 p-0 card license d-none">
            <div class="position-absolute full-width full-height overlay2 d-none">
                <div class="progress-horizontal">
                    <div class="bar-horizontal"></div>
                </div>
            </div>
            <div class="card-body pt-5 pl-5 pr-5">
                <div>
                    <!--/*@thymesVar id="app" type="java.lang.String"*/-->
                    <h3 th:text="${app}"></h3>
                    <h4><span class="text-muted">Privacy & Terms</span></h4>
                </div>
                <div id="license-agreement" class="row mt-4 mb-4">
                    <div class="col-7">
                        <div class="agreement">
                            <p>
                                To create a Google Account, you’ll need to agree to the <a href="#">Terms of Service</a>
                                below.<br>
                                In addition, when you create an account, we process your information as described in our
                                <a href="#">Privacy Policy</a>, including these key points:<br><br>
                                <b>Data we process when you use Traviard</b><br>
                            </p>
                            <ul class="ml-0">
                                <li>
                                    When you set up a Traviard Account, we store information you give us like your name,
                                    email address, and telephone number.
                                </li>
                                <li>
                                    When you use Traviard services to do things like write a message in traviard.com, we
                                    store the information you create.
                                </li>
                                <li>
                                    When you on Traviard, for example, we process information about that activity –
                                    including information like the video you watched, device IDs, IP addresses, cookie
                                    data, and location.
                                </li>
                                <li>
                                    We also process the kinds of information described above when you use apps or sites
                                    that use Traviard services like ads, Analytics, and the YouTube video player.
                                </li>
                            </ul>
                            <p>
                                <b>Why we process it</b><br>
                                We process this data for the purposes described in <a href="#">our policy</a>, including
                                to:
                            </p>
                            <ul>
                                <li>
                                    Help our services deliver more useful, customized content such as more relevant
                                    search results;
                                </li>
                                <li>
                                    Improve the quality of our services and develop new ones;
                                </li>
                                <li>
                                    Deliver personalized ads, depending on your account settings, both on Google
                                    services and on sites and apps that partner with Traviard;
                                </li>
                                <li>
                                    Improve security by protecting against fraud and abuse; and
                                </li>
                                <li>
                                    Conduct analytics and measurement to understand how our services are used. We also
                                    have partners that measure how our services are used. <a href="#">Learn more</a>
                                    about these specific advertising and measurement partners.
                                </li>
                            </ul>
                            <p>
                                <b>Combining data</b><br>
                                We also combine this data among our services and across your devices for these purposes.
                                For example, depending on your account settings, we show you ads based on information
                                about your interests, which we can derive from your use of Search and YouTube, and we
                                use data from trillions of search queries to build spell-correction models that we use
                                across all of our services.<br><br>
                                <b>You’re in control</b><br>
                                Depending on your account settings, some of this data may be associated with your Google
                                Account and we treat this data as personal information. You can control how we collect
                                and use this data now by clicking “More Options” below. You can always adjust your
                                controls later or withdraw your consent for the future by visiting My Account
                                (account.traviard.com).
                            </p>
                        </div>
                        <button id="btn-cancel" type="button"
                                class="btn btn-md mt-4 mb-3 mr-0 ml-0 text-primary" onclick="cancel()">
                            Cancel
                        </button>
                        <button id="btn-agree" type="button"
                                class="btn btn-primary btn-md waves-effect waves-light mt-4 float-right mr-0 mb-3"
                                onclick="personalRegister()">
                            I agree
                        </button>
                    </div>
                    <div class="col-5 p-4">
                        <img src="../assets/img/privacy.svg" alt="account-img">
                        <p class="text-muted text-sm-center" style="line-height: 1.5rem;">
                            You’re in control of the data we collect & how it’s used
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="../assets/js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="../assets/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="../assets/js/mdb.min.js"></script>
<script type="text/javascript" src="../assets/js/common.js"></script>
<script type="text/javascript">
    $(() => {
        const dropdown_menu_country = $('.dropdown-menu-country');
        const dropdown_menu_gender = $('.dropdown-menu-gender');
        const country_code = $('#country-code');
        const gender = $('#gender');
        country_code.click((e) => {
            dropdown_menu_country.addClass('show').focus();
            e.stopPropagation();
        });

        gender.click((e) => {
            dropdown_menu_gender.addClass('show');
            e.stopPropagation();
        });

        $(document).on('click focusin', (e) => {
            if (!$(e.target).is(dropdown_menu_country)) dropdown_menu_country.removeClass('show');
            if (!$(e.target).is(dropdown_menu_gender)) dropdown_menu_gender.removeClass('show');
            if (!$(e.target).is(dropdown_menu_month)) dropdown_menu_month.removeClass('show');
        });

        dropdown_menu_gender.children('div').click((e) => {
            $(gender.parent('div').children('label').get(0)).addClass('active');
            gender.val($(e.currentTarget).text());
        });

        dropdown_menu_country.children('div').click((e) => {
            const code = $(e.currentTarget).children('.code')
                .text()
                .replace(/\)/g, '')
                .replace(/\(/g, '');
            country_code.val(code);
            const id = $(e.currentTarget).children('div').attr('id');
            const i = country_code.parent('div').children('.flag');
            i.removeClass((index, className) => (className.match(/(^|\s)flag-\S+/g) || []).join(' '));
            i.addClass(`flag-${id}`);

            country_code.attr('data-id', $(e.currentTarget).attr('id'));
        });
    });

    const dropdown_menu_month = $('.dropdown-menu-month');
    const month = $('#month');
    month.keyup((e) => {
        if (e.keyCode !== 38 && e.keyCode !== 40 && e.keyCode !== 13) {
            dropdown_menu_month.addClass('show');
            const fraction = [];
            months.forEach((v) => {
                const regx = new RegExp(`^${$(e.currentTarget).val()}`, 'gi');
                const res = regx.exec(v);
                if (res && res[0]) fraction.push(v);
            });

            if (fraction.length === 0) {
                dropdown_menu_month.removeClass('show');
                return;
            }

            dropdown_menu_month.html('');
            fraction.forEach((v, i) => {
                let div;
                if (i === 0) div = $(`<div class="dropdown-item hover">${v}</div>`);
                else div = $(`<div class="dropdown-item">${v}</div>`);
                dropdown_menu_month.append(div);

                div.click((e) => month.val($(e.currentTarget).text()));
            });
        }
    });

    month.keydown((e) => {
        if (dropdown_menu_month.hasClass('show')
            && (e.keyCode === 38 || e.keyCode === 40)) {
            const children = dropdown_menu_month.children('div');
            for (let idx = 0; idx < children.length; idx++) {
                if (e.keyCode === 38) {
                    if ($(children[idx]).hasClass("hover")) {
                        $(children[idx]).removeClass("hover");
                        if (--idx >= 0) {
                            $(children[idx]).addClass("hover");
                            break
                        }
                        if (idx < 0) {
                            $(children[children.length - 1]).addClass("hover");
                            break;
                        }
                    }
                } else {
                    if ($(children[idx]).hasClass("hover")) {
                        $(children[idx]).removeClass("hover");
                        if (++idx < children.length) {
                            $(children[idx]).addClass("hover");
                            break;
                        } else {
                            $(children[0]).addClass("hover");
                            break;
                        }

                    }
                }
            }
        } else if (dropdown_menu_month.hasClass('show') && e.keyCode === 13) {
            const children = dropdown_menu_month.children('div');
            for (let idx = 0; idx < children.length; idx++) {
                if ($(children[idx]).hasClass("hover")) {
                    $(e.currentTarget).val($(children[idx]).text());
                    dropdown_menu_month.removeClass('show');
                    break;
                }
            }
        }
    });

    dropdown_menu_month.on('mouseover mouseleave', (e) => {
        const children = $(e.currentTarget).children('div');
        for (let idx = 0; idx < children.length; idx++) {
            if ($(children[idx]).hasClass('hover')) {
                $(children[idx]).removeClass('hover');
                break;
            }
        }
    });

    const cancel = () => window.location.reload();
</script>
</body>
</html>