<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title th:text="${title}"></title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="assets/css/all.min.css"/>
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Material Design Bootstrap -->
    <link href="assets/css/mdb.min.css" rel="stylesheet"/>
    <!-- Custom styles (optional) -->
    <link href="assets/css/home.css" rel="stylesheet"/>
    <link href="assets/css/flags.min.css" rel="stylesheet"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-xl navbar-dark fixed-top scrolling-navbar pt-0 pb-0 pr-1">
        <a class="navbar-brand mt-2" href="/"><h3>Traviard <strong>Store</strong></h3></a>
        <div id="nav-menu-bar" class="collapse navbar-collapse">
            <ul class="navbar-nav smooth-scroll">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:goToStore()"><strong>Use Store</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#best-features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">For Business</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Download</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Help</a>
                </li>
            </ul>
        </div>
        <div class="uname-p-tb pl-3 pr-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
             tabindex="5">
            <div class="btn-util">
                <img src="assets/img/default.png" alt="default-user" class="user-image"/>
            </div>
        </div>
        <div class="dropdown-menu dropdown-menu-right p-0" style="right: 5px !important; margin-top: -5px !important;">
            <div class="row m-0 pt-3 pb-3 pl-2 pr-2 shadow-lg" style="padding-bottom: 10px !important;">
                <div class="col-3">
                    <img src="assets/img/default.png" alt="default-user" class="user-image-large"/>
                </div>
                <div class="col-9 pl-4_5">
                    <h5 class="mb-0">Sachith Dickwella</h5>
                    <h6><strong>sachith_prasanna@live.com</strong></h6>
                    <button type="button" class="btn btn-primary btn-sm ml-0">Profile</button>
                </div>
            </div>
            <div class="row ml-0 mr-0 dropdown-bottom-line p-1">
                <div class="col-6 m-0 p-0" style="padding-left: 10px !important;">
                    <button type="button" class="btn btn-default btn-sm ml-0">Settings</button>
                </div>
                <div class="col-6 m-0 p-0" style="padding-right: 4px !important;">
                    <button type="button" class="btn btn-white btn-sm ml-0 float-right" onclick="signOut()">Sign out</button>
                </div>
            </div>
        </div>
    </nav>
    <div id="intro" class="view">
        <div class="mask rgba-black-strong">
            <div class="container-fluid d-flex align-items-center justify-content-center h-100">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-md-12">
                        <!-- Heading -->
                        <h2 class="display-4 white-text pt-5 mb-2">Traviard <strong>Store</strong></h2>
                        <!-- Divider -->
                        <hr class="hr-light"/>
                        <!-- Description -->
                        <h4 class="white-text my-4">Save and get more out of your files, from the safest place in the
                            cloud</h4>
                        <button type="button" class="btn btn-blue" onclick="goToStore()">Go to Traviard Store&nbsp;&nbsp;&nbsp;
                            <i class="fas fa-dolly"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Main Navigation-->
<!--Main layout-->
<main class="mt-5">
    <div class="container">
        <!--Section: Best Features-->
        <section id="best-features" class="text-center">
            <!-- Heading -->
            <h2 class="mb-5 font-weight-bold">Best Features</h2>
            <!--Grid row-->
            <div class="row d-flex justify-content-center mb-4">
                <!--Grid column-->
                <div class="col-md-8">
                    <!-- Description -->
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate
                        hic
                        provident nulla repellat
                        facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis
                        est
                        sit pariatur.</p>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-4 mb-5">
                    <i class="fa fa-camera-retro fa-4x orange-text"></i>
                    <h4 class="my-4 font-weight-bold">Streaming</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                        maiores nam,
                        aperiam minima
                        assumenda deleniti hic.</p>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-4 mb-1">
                    <i class="fa fa-heart fa-4x orange-text"></i>
                    <h4 class="my-4 font-weight-bold">Encryption</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                        maiores nam,
                        aperiam minima
                        assumenda deleniti hic.</p>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-4 mb-1">
                    <i class="fa fa-bicycle fa-4x orange-text"></i>
                    <h4 class="my-4 font-weight-bold">Public Share</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                        maiores nam,
                        aperiam minima
                        assumenda deleniti hic.</p>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!--Section: Best Features-->
        <hr class="my-5"/>
    </div>
</main>
<footer class="page-footer font-small unique-color-dark">
    <!-- Social buttons -->
    <div class="primary-color">
        <div class="container">
            <!--Grid row-->
            <div class="row py-4 d-flex align-items-center">
                <!--Grid column-->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0 white-text">Get connected with us on social networks!</h6>
                </div>
                <!--Grid column-->
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <!--Facebook-->
                    <a class="fb-ic ml-0">
                        <i class="fab fa-facebook white-text mr-4"> </i>
                    </a>
                    <!--Twitter-->
                    <a class="tw-ic">
                        <i class="fab fa-twitter white-text mr-4"> </i>
                    </a>
                    <!--Google +-->
                    <a class="gplus-ic">
                        <i class="fab fa-google-plus white-text mr-4"> </i>
                    </a>
                    <!--Linkedin-->
                    <a class="li-ic">
                        <i class="fab fa-linkedin white-text mr-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram white-text mr-lg-4"> </i>
                    </a>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
    </div>
    <!-- Social buttons -->
    <!--Footer Links-->
    <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">
            <!--First column-->
            <div class="col-md-5 col-lg-7 col-xl-7 mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Traviard</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"/>
                <p>Save and get more out of your files from the best, secured and reliable platform
                    we're providing, that capable to do more with your invaluable data, backed by AWS.</p>
            </div>
            <!--/.First column-->
            <!--Second column-->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Useful links</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"/>
                <p>
                    <a href="javascript:goToStore()">Use Store</a>
                </p>
                <p>
                    <a href="#">For Business</a>
                </p>
                <p>
                    <a href="#">Download</a>
                </p>
                <p>
                    <a href="#">Help</a>
                </p>
            </div>
            <!--/.Second column-->
            <!--Third column-->
            <div class="col-md-4 col-lg-3 col-xl-3">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Contact</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"/>
                <p><i class="fa fa-home mr-2"></i> New York, NY 10012, US</p>
                <p><i class="fa fa-envelope mr-2"></i> support@traviard.com</p>
                <p><i class="fa fa-phone mr-2"></i> +60 11 3992 6305</p>
            </div>
            <!--/.Third column-->
        </div>
    </div>
    <!--/.Footer Links-->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">&copy;&nbsp;<span th:text="${thisYear}"></span> Copyright
        <a href="http://www.traviard.com/" target="_blank">Traviard&trade;</a>.
        All rights Reserved.
    </div>
    <!-- Copyright -->
</footer>
<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="assets/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="assets/js/mdb.min.js"></script>
<script type="text/javascript" src="assets/js/common.js"></script>
</body>
</html>
