<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--/*@thymesVar id="title" type="java.lang.String"*/-->
    <title th:text="${title}"></title>
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon.png">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../assets/css/all.min.css">
    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="../assets/css/mdb.min.css" rel="stylesheet">
    <!-- Custom styles (optional) -->
    <link href="../assets/css/home.css" rel="stylesheet">
    <link href="../assets/css/flags.min.css" rel="stylesheet">
    <style type="text/css" rel="stylesheet">
        .btn {
            text-transform: capitalize !important;
        }

        .side-nav.wide.slim .sn-ad-avatar-wrapper a span {
            display: none;
        }

        .ul-text li a {
            font-size: 1.1rem !important;
            font-weight: 400 !important;
            height: 40px !important;
            padding-top: 0.2rem !important;
            overflow: hidden;
        }

        .ul-text li a .col-2 {
            padding-left: 1.75rem !important;
            padding-right: 0 !important;
        }

        .ul-text li a .col-10 {
            padding-left: 1.75rem !important;
            padding-right: 0 !important;
        }

        .navbar {
            z-index: 1;
        }

        .side-nav {
            z-index: 0;
        }

        .nav-scrollbar {
            overflow-y: scroll;
            -ms-overflow-y: scroll;
            height: 75%;
        }

        .active {
            border-left: 0 !important;
            background-color: rgba(35,86,255,0.2);
            color: rgba(35,86,255,1) !important;
            border-radius: 0 50px 50px 0 !important;
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-dark top-bar pt-0 pb-0 pr-1">
        <a class="navbar-brand text-white no-user-select no-outline"
           href="#"><h3 class="mb-0">Traviard&nbsp;<strong>Store</strong></h3></a>
        <div class="uname-p-tb pl-3 pr-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
             tabindex="5">
            <div class="btn-util">
                <img src="../assets/img/default.png" alt="default-user" class="user-image"/>
            </div>
        </div>
        <div class="dropdown-menu dropdown-menu-right p-0" style="right: 5px !important; margin-top: -5px !important;">
            <div class="row m-0 pt-3 pb-3 pl-2 pr-2 shadow-lg" style="padding-bottom: 10px !important;">
                <div class="col-3">
                    <img src="../assets/img/default.png" alt="default-user" class="user-image-large"/>
                </div>
                <div class="col-9 pl-4_5">
                    <h5 class="mb-0">Sachith Dickwella</h5>
                    <h6><strong>sachith_prasanna@live.com</strong></h6>
                    <button type="button" class="btn btn-primary btn-sm ml-0">Profile</button>
                </div>
            </div>
            <div class="row ml-0 mr-0 dropdown-bottom-line p-1">
                <div class="col-6 m-0 p-0" style="padding-left: 10px !important;">
                    <button type="button" class="btn btn-default btn-sm ml-0">Settings</button>
                </div>
                <div class="col-6 m-0 p-0" style="padding-right: 4px !important;">
                    <button type="button" class="btn btn-white btn-sm ml-0 float-right" onclick="signOut(this)">
                        Sign out
                    </button>
                </div>
            </div>
        </div>
    </nav>
    <!-- Sidebar navigation -->
    <div id="slide-out" class="side-nav fixed grey lighten-4 pt-6">
        <ul class="nav-scrollbar">
            <li>
                <ul class="collapsible collapsible-accordion sidnav-li-text-color ul-text">
                    <li class="active">
                        <a class="collapsible-header text-muted active">
                            <div class="row">
                                <div class="col-2"><i class="fas fa-box-open"></i></div>
                                <div class="col-10">My Store</div>
                                <i class="fas fa-angle-down rotate-icon"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="collapsible-header text-muted">
                            <div class="row">
                                <div class="col-2"><i class="fas fa-user-friends"></i></div>
                                <div class="col-10">Shared</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="collapsible-header text-muted">
                            <div class="row">
                                <div class="col-2"><i class="fas fa-camera"></i></div>
                                <div class="col-10">Media</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="collapsible-header text-muted">
                            <div class="row">
                                <div class="col-2"><i class="fas fa-video"></i></div>
                                <div class="col-10">Stream</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="collapsible-header text-muted">
                            <div class="row">
                                <div class="col-2"><i class="fas fa-folder"></i></div>
                                <div class="col-10">Archived</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="collapsible-header text-muted">
                            <div class="row">
                                <div class="col-2"><i class="fas fa-history"></i></div>
                                <div class="col-10">Recent</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="collapsible-header text-muted">
                            <div class="row">
                                <div class="col-2"><i class="fas fa-trash"></i></div>
                                <div class="col-10">Trash</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!--/. Sidebar navigation -->
</header>
<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="../assets/js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="../assets/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="../assets/js/mdb.min.js"></script>
<script type="text/javascript" src="../assets/js/common.js"></script>
<script type="text/javascript">
    $(() => {

    });
</script>
</body>
</html>
