:root {
    --main-color: #1C2331;
    --main-padding: 20px;
    --no-width: 0px;
    --default-font: Roboto, sans-serif;
    --full-width: 100%;
}

html, body {
    margin: var(--no-width);
    padding: var(--no-width);
}

h1, h2, h3, h4, h5, h6, p, span, div {
    font-family: var(--default-font);
}

.no-glow:focus {
    box-shadow: 0 0 0 0;
}

.full-width {
    width: var(--full-width);
}
