<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--/*@thymesVar id="title" type="java.lang.String"*/-->
    <title th:text="${title}"></title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="assets/css/all.min.css">
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="assets/css/mdb.min.css" rel="stylesheet">
    <!-- Custom styles (optional) -->
    <link href="assets/css/home.css" rel="stylesheet">
    <link href="assets/css/flags.min.css" rel="stylesheet">
</head>

<body>

<div class="top-bar">
    <div class="container-fluid pt-1">
        <div class="row full-width">
            <div class="col col-lg-2 flex-center flex-column">
                <div class="fa-2x">
                    <span class="white-text">traviard<i class="fas fa-dolly fa-fw amber-text pl-2"></i></span>
                </div>
            </div>
            <div class="col col-lg-8 pt-1">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-primary btn-md m-0 px-3 py-2 z-depth-0 dropdown-toggle" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Departments
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">All Departments</a>
                            <div role="separator" class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                    <input id="input-search" type="text" class="form-control no-glow full-width"
                           aria-label="Department Search" placeholder="Search the store..." maxlength="200">
                    <div class="input-group-append">
                        <button class="btn btn-md btn-outline-blue m-0 px-3 py-2 z-depth-0 waves-light white-text"
                                type="button" id="button-search"><i class="fas fa-search fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col col-lg-2 flex-center flex-column">
                <button class="btn btn-md btn-amber mt-1"><i class="fas fa-sign-in-alt mr-1"></i>
                    Login to shopping
                </button>
            </div>
        </div>
        <div class="row full-width pb-2 pt-2">
            <div class="col col-lg-2 white-text">
                <i class="fas fa-map-marker-alt fa-lg mr-1 float-left mt-3"></i>
                <span class="float-left ml-1">
                    <small>Delivers to </small><br><strong>Sri Lanka</strong>
                </span>
            </div>
            <div class="col col-lg-8">

            </div>
            <div class="col col-lg-2">
                <a type="button" class="btn waves-light white-text btn-currency">
                    <img src="assets/img/blank.gif" class="flag flag-lk" alt="Sri Lanka"/>&nbsp;&nbsp;LKR
                </a>
            </div>

        </div>
    </div>
</div>

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="assets/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="assets/js/mdb.min.js"></script>
</body>

</html>
