<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shri nk-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_headerName" th:content="${_csrf.headerName}">
    <!-- Title -->
    <!--/*@thymesVar id="title" type="java.lang.String"*/-->
    <title th:text="${title}"></title>
    <!-- <link rel="icon" type="image/x-icon" href="assets/img/favicon.png"> -->
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="assets/css/all.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" type="text/css" href="assets/css/mdb.min.css">
    <!-- Custom styles (optional) -->
    <link rel="stylesheet" type="text/css" href="assets/css/home.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <style rel="stylesheet" type="text/css">
        .dropdown-menu {
            margin-top: -2rem !important;
        }
    </style>
</head>
<body>
<div class="container" style="padding-top: 6rem !important;">
    <div class="row justify-content-center">
        <div class="col-5 p-0 card">
            <div class="card-body pt-5 pl-5 pr-5">
                <div class="text-center">
                    <h3><!--/*@thymesVar id="app" type="java.lang.String"*/-->
                        <span th:text="${app} + ${appName} + ' | '"></span><span class="text-success">Sign in</span></h3>
                </div>
                <div class="py-3">
                    <form name="signin">
                        <div class="md-form" style="margin-bottom: 1rem !important;">
                            <input type="text" id="email" class="form-control">
                            <label for="email">E-mail</label>
                        </div>
                        <div class="md-form" style="margin-bottom: 1.5rem !important;">
                            <input type="password" id="password" class="form-control">
                            <label for="password">Password</label>
                        </div>
                        <div class="card warning-color mb-4 failed-login" style="display: none;">
                            <div class="card-body pt-3 pb-3 pl-4">
                                <p class="white-darker-hover font-small m-0">
                                    <i class="fas fa-exclamation-circle"></i>
                                    <strong>&nbsp;&nbsp;<span class="failed-login-msg"></span></strong></p>
                            </div>
                        </div>
                        <div class="row pl-3">
                            <div class="col font-small grey-text custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                                <label class="custom-control-label" for="defaultUnchecked">Remember me</label>
                            </div>
                            <div class="col">
                                <p class="font-small blue-text d-flex justify-content-end">
                                    <a href="#" class="blue-text ml-1">Forgot Password?</a>
                                </p>
                            </div>
                        </div>
                        <button id="btn-login" type="button"
                                class="btn btn-primary btn-block z-depth-1 waves-effect waves-light text-uppercase mt-2"
                                onclick="signIn()">
                            <i class="fas fa-unlock-alt white-text"></i>&nbsp;&nbsp;&nbsp;Sign in
                        </button>
                        <div class="pt-4">
                            <div class="dropdown">
                                <p class="font-small grey-text d-flex justify-content-end">Not a member?
                                    <a class="green-text ml-1" href="javascript:popup(this)">&nbsp;Create account</a>
                                </p>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-account-type">
                                    <div class="dropdown-item" onclick="redirect('register')">Personal</div>
                                    <div class="dropdown-item" onclick="">For Business</div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="assets/js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="assets/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="assets/js/mdb.min.js"></script>
<script type="text/javascript" src="assets/js/common.js"></script>
<script type="text/javascript">
    $(() => {
        $(document).click((e) => {
            if (!$(e.target).is(dropdown_account_type)) dropdown_account_type.removeClass('show');
        });
    });

    const dropdown_account_type = $('.dropdown-menu-account-type');
    const popup = (e) => {
        dropdown_account_type.addClass('show');
        e.stopPropagation();
    };
</script>
</body>
</html>