@import "style.css";

.no-user-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

.no-outline {
    outline: none;
}

.domain-field {
    inline-size: 70% !important;
    padding-right: 7.1rem !important;
}

.md-form {
    margin-top: 1.2rem !important;
    margin-bottom: 0 !important;
}

.md-form .form-control {
    padding-bottom: 0.1rem !important;
    margin: 0 0 0 !important;
}

.md-form .prefix ~ label {
    margin-left: 0 !important;
}

.prefix {
    top: 0.55rem !important;
}

.postfix {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0.7rem !important;
    font-size: 1rem !important;
}

.pwd-input {
    inline-size: 85% !important;
    padding-right: 1.7rem !important;
}

.dropdown-menu {
    margin-top: -3rem !important;
    outline: none;
    user-select: none;
}

.dropdown-menu-month {
    margin-top: 0 !important;
}

.dropdown-item:active .code {
    color: #eceff1;
}

.code {
    color: #78909c;
    margin-left: 0.3rem;
    font-size: 0.9rem;
}

.country {
    padding-left: 2rem;
}

.flag-selected {
    cursor: pointer;
}

#country-code {
    cursor: pointer;
    padding-left: 2rem !important;
    inline-size: 70% !important;
}

.dropdown-item.select {
    background-color: #757575;
    color: white;
}

.dropdown-item.hover {
    background-color: #f8f9fa;
}

.dropdown-item.edge-curved {
    border-radius: 0 2rem 2rem 0 !important;
}

.dropdown-menu-country {
    overflow-y: scroll;
    -ms-overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
    width: auto;
    height: 300px !important;
}

.additional-message {
    font-size: smaller;
    font-weight: normal;
    color: #9d9d9d;
}

.additional-message.optional {
    font-size: x-small;
}

.additional-message.error {
    color: var(--invalid-input-color) !important;
}

#license-agreement div div {
    overflow-y: scroll !important;
    height: 27rem !important;
}

.agreement {
    font-size: 14px;
}

.agreement ul {
    padding-left: 1.25rem !important;
}

#btn-cancel {
    color: #007bff !important;
    font-weight: bold;
    box-shadow: 0 0 0 0 #fff;
}

#btn-cancel:hover, #btn-cancel:active {
    text-decoration: none !important;
    background-color: rgba(0,123,255,0.1);
}