:root {
    --main-color: #1C2331;
    --main-padding: 20px;
    --no-width: 0px;
    --default-font: Roboto, sans-serif;
    --full-width: 100%;
    --full-height: 100%;
    --invalid-input-color: rgb(255, 39, 0);
}

html, body {
    margin: var(--no-width);
    padding: var(--no-width);
}

h1, h2, h3, h4, h5, h6, p, span, div {
    font-family: var(--default-font);
}

.no-glow:focus {
    box-shadow: 0 0 0 0;
}

.full-width {
    width: var(--full-width);
}

.full-height {
    height: var(--full-height);
}

.font-size17px {
    font-size: 17px;
}

.p-6 {
    padding: 5rem !important;
}

.invalid-input input {
    border-bottom: 1px solid var(--invalid-input-color) !important;
}

.invalid-input input[type=text]:focus:not([readonly]), .invalid-input input[type=password]:focus:not([readonly])  {
    color: var(--invalid-input-color) !important;
    box-shadow: 0 1px 0 0 var(--invalid-input-color) !important;
    border-bottom: 1px solid var(--invalid-input-color) !important;
}

.invalid-input label {
    color: var(--invalid-input-color) !important;
}

.overlay {
    background-color: rgba(255,255,255,0.5);
    z-index: 1;
    border-radius: 5px;
}

.progress-horizontal {
    display: block;
    width: 100%;
    height: 5px;
    margin: 0;
    background-color: white;
}

.bar-horizontal {
    width: 50%;
    height: 100%;
    margin-left: 0;
    background-color: #ffbb33;
    animation-name: spinner;
    animation-duration: 800ms;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

@keyframes spinner {
    0% {
        width: 10%;
    }
    50% {
        width: 50%;
        margin-left: 50%;
    }
    100% {
        width: 10%;
        margin-left: 90%;
    }
}